/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

:root {
   --color1: #1A0F5C;
   --color2: #501275;
   --color3: #3B3ECF;
   --color4: #003D7E;
   --h1textcolor: #E0E0FF;
   --h2textcolor: #E0E0FF;
   --h3textcolor: #E0E0FF;
   --h4textcolor: #E0E0FF;
   --linkstextcolor: #29C0F5;
   
}

body {
   display: grid;
   grid-template-areas:
   "header"
   "nav"
   "main"
   "footer";
   grid-template-rows: 120px 60px 1fr 60px;
}

html, body {
   height: 100%;
   margin: 0;
   background: linear-gradient(135deg, var(--color2), var(--color4));
}

header {
  grid-area: header;
  background-color: var(--color1);
}

nav {
   grid-area: nav;
   background-color: var(--color2)
}

nav ul {
list-style: none;
display: flex;
justify-content: center;
gap: 100px;
}

nav a {
   text-decoration: none;
   color: var(--linkstextcolor);
   font-family: "doto", sans-serif;
   font-weight: 700;
   font-size: 23px;
}

nav a:hover {
   text-decoration: underline;
   font-weight: bold;
}

main {
   grid-area: main;
   background: linear-gradient(135deg, var(--color2), var(--color4));
}

footer {
   grid-area: footer;
   background-color: var(--color4)
}

h1 {
   text-align: center;
   color: var(--h1textcolor);
   font-size: 45px;
   font-family: "anta", sans-serif;
}

h2 {
   text-align: start;
   color: var(--h2textcolor);
   font-size: 20px;
   font-family: "anta", sans-serif;
}

h3 {
   text-align: start;
   color: var(--h3textcolor);
   font-family: "roboto", sans-serif;
   font-weight: 500;
}

h4 {
   text-align: start;
   color: var(--h4textcolor);
   font-family: "roboto", sans-serif;
   font-size: 14px;
}

p {
   text-align: start;
   color: var(--h3textcolor);
   font-family: "roboto", sans-serif;
   font-weight: 500;
}

.afbeeldingen {
   display: flex;
   gap: 20px;
}
